@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@using Travel_Management_System.EF.Models;
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_TravelerLayout";
}


@if (HttpContextAccessor.HttpContext.Session.GetString("Traveler") != null)
{
    string TravelerJsonFromSession = HttpContextAccessor.HttpContext.Session.GetString("Traveler");
    var TravelerFromSession = JsonSerializer.Deserialize<User>(TravelerJsonFromSession);

    <h1 class="text-center" style="font-size:5vw; margin-top: 1em;">Hello @TravelerFromSession.Name</h1>
}

