<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrekkersBD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Travel_Management_System.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav id="glass" class="navbar navbar-expand navbar-light mb-3">
            <div class="container-fluid">
                <a class="ps-2" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Icon/Trekkersbd.png" width="150px" /></a>
                <ul class="navbar-nav">
                    <li class="nav-item pe-2">
                        <a id="hvr" class="nav-link" style="font-size: 30px;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item pe-2">
                        <a id="hvr" class="nav-link" style="font-size: 30px;" asp-area="" asp-controller="" asp-action="">About</a>
                    </li>
                    <li class="nav-item pe-2">
                        <a id="hvr" class="nav-link" style="font-size: 30px;" asp-area="" asp-controller="" asp-action="">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item pe-2">
                        <a class="btn btn-outline-dark" style="font-size: 30px;" asp-area="" asp-controller="Login" asp-action="LoginPage">Login</a>
                    </li>
                    <li class="nav-item pe-2">
                        <a class="btn btn-outline-dark" style="font-size: 30px;" asp-area="" asp-controller="Register" asp-action="RegisterPage">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="glass" class="text-center fixed-bottom">
        <div class=" text-center p-1 d-flex justify-content-between align-items-center">
            <span class="h6 ms-2 mt-2">© 2023 TrekkersBD</span>
            <div>
                <a class="btn btn-outline-dark btn-floating m-1" href="">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="btn btn-outline-dark btn-floating m-1" href="">
                    <i class="bi bi-messenger"></i>
                </a>
                <a class="btn btn-outline-dark btn-floating m-1" href="">
                    <i class="bi bi-instagram"></i>
                </a>
                <a class="btn btn-outline-dark btn-floating m-1" href="">
                    <i class="bi bi-twitter"></i>
                </a>
                <a class="btn btn-outline-dark btn-floating m-1" href="">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
